.project {
    display:  flex;
    height: 100vh;
    width: 100%;
    flex-direction: column;
}

.cardList {
    padding: 1.5em;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.card {
    background: white;
    flex: 0 1 calc(30% - 1em);
    margin-bottom: 2em;
    position: relative;
}
.cardContent {
    padding: 1.4em;
}



@media screen and (max-width: 600px) {
    .cardList {
        padding: 1em;
        display: table-row;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .card {
        flex: 0 1 calc(50% - 1em);
    }
}
  .featureCardFooter {
    background: #f6f6f6;
    bottom: 0;
    left: 0;
    width: 100%;
    margin: 1;
    position: absolute;
  }
