.aboutme {
    display:  flex;
    height: 100vh;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.cycle {
    flex-direction: row;
    text-align: center;
    left: 20px;
    width: 49.5%;
    height: 98%;
    margin-right: ".5%";
}

.title {
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 80px;
    font-weight: bold;
    letter-spacing: -1px;
    line-height: 1;
    text-align: center;
}

.nameTitleBlack {
    line-height:100px;
    color: white;
    border: 1px;
    font-size: 30px;
    background: black;
    padding: 15px;
    margin-top: 30px;
    font-style: italic;
    font-weight: 900;
}


.nameTitleWhite {
    line-height:100px;
    color: black;
    border: 1px;
    font-size: 30px;
    background: white;
    padding: 15px;
    margin-top: 30px;
    font-style: italic;
    font-weight: 900;
}

.item {
    color: #111;
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
    font-weight: 300;
    line-height: 32px;
    margin: 0 0 72px;
    text-align: center;
}

@media screen and (max-width: 600px) {
    .aboutme {
        display: flex;
        height: 100vh;
        width: 100%;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .cycle {
        flex-direction: row;
        height: 49%;
        width: 97%;
    }
 

}